*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}
* a{
    scroll-behavior: smooth;
    text-decoration: none;
    color: black;
}
body{
    font-family: 'Source Code Pro';
    background-color: #666666;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-div{
    display: flex;
    justify-content: center;
    background-color: #878787;
    max-width: 400px;
    border-radius: 5px;
    padding: 25px 0;
}
