*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}
* a{
    scroll-behavior: smooth;
    text-decoration: none;
    color: black;
}
body{
    font-family: 'Source Code Pro';
    background-color: #666666;
    display: flex;
    flex-direction: column;
    align-items: center;
}

:root{
    --topNavHeight: 85px;
}



.react-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: var(--topNavHeight);
    padding-top: 10px;
    background-color: #878787;
}
.nav-logo{
    width: 100px;
    text-align: center;
}
.logo{
    max-height: 70px;
}
.userImg > svg{
    height: 40px;
    cursor: pointer;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
    margin-right: 20px;
}
.user-menu{
    position: absolute;
    top: 100%;
}

.side-nav{
    position: absolute;
    left: 0;
    top: var(--topNavHeight);
    height: calc(100vh - var(--topNavHeight));
    width: 100px;
    background-color: #878787;

}
.side-nav-active{
    background-color: #666666;
}




.sign-div{
    display: flex;
    justify-content: center;
    background-color: #878787;
    max-width: 400px;
    border-radius: 5px;
    padding: 25px 0;
    margin: 50px 0;
    flex-direction: column;
}
.sign-btns{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.active {
    background-color: #908FB9;
}
.btn{
    border: none;
    height: 40px;
    min-width: 80px;
    cursor: pointer;
}
.signin-btn{
    border-radius: 8px 0 0 8px;
}
.signup-btn{
    border-radius: 0 8px 8px 0;
}



.user-form{
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 0 50px;
}
.user-form > *{
    min-width: 300px;
    min-height: 30px;
    margin: 15px 0;
    padding: 5px;
    border-radius: 2px;
    border: none;
}
.user-form > textarea{
    resize: vertical;
    min-height: 80px;
}
.adjuntar{
    min-width: 100px;
}

.user-form > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.enviar-btn{
    min-width: 150px;
    min-height: 30px;
    margin: 15px 0;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #908FB9;
}


.loadingClock{
    position: absolute;
    background-color: #908fb980;
    height: 150px;
    width: 250px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 20px;
    padding: 10px;

    > span{
        font-size: 24px;
        font-weight: 500;
        position: absolute;
        top: 50px;
        left: 120px;
        margin: auto;
    }
}
.clock {
    position: absolute;
    height: 100px;
    width: 100px;
    background: white;
    box-sizing: border-box;
    border-radius: 100%;
    border: 5px solid #908FB9;
    top: 25px;
    /* left: 0;
    right: 0; */
    margin: auto;

    .center {
        height: 10px;
        width: 10px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #262626;
        border-radius: 100%;
    }
    .hour {
        width: 3px;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        animation: time 15s infinite linear;
        &:before {
            position: absolute;
            content: "";
            background: #262626;
            height: 50px;
            width: 3px;
        }
    }
    .minute {
        width: 1px;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        animation: time 7s infinite linear;
        &:before {
        position: absolute;
        content: "";
        background: #262626;
        height: 40px;
        width: 1px;
        top: 50px;
        }
    }
    .second {
        width: 2px;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        animation: time 3s infinite linear;
        &:before {
        position: absolute;
        content: "";
        background: #fd1111;
        height: 45px;
        width: 2px;
        top: 45px;
        }
    }
}
@keyframes time {
    to {
        transform: rotate(360deg);
    }
}


.logged{
    margin-left: 100px;
}

